.DS_Store
/.idea/
/backend/node_modules/
/backend/package-lock.json
/crawler/dist
/crawler/node_modules/
/crawler/.env
/crawler/package-lock.json
/crawler/bin/ethlink/node_modules/
/crawler/bin/ethlink/package-lock.json
/crawler/libs/sota-common/node_modules/
/crawler/libs/sota-common/package-lock.json
/crawler/libs/wallet-core/node_modules/
/crawler/libs/wallet-core/package-lock.json
/frontend-user/package-lock.json
/frontend-user/node_modules/
/package-lock.json
/frontend-user/.eslintcache
/frontend-user/.env
/backend/.env
/frontend-admin/package-lock.json
/frontend-admin/node_modules/
/frontend-admin/.eslintcache
/frontend-admin/.env
/staking/artifacts/
/staking/cache/
/staking/node_modules/
/staking/package-lock.json
/staking/.env
/staking/.vscode
# OpenZeppelin
/staking/.openzeppelin/unknown-*.json
